version: 2
jobs:
  build_213:
    docker:
      - image: hseeberger/scala-sbt:8u212_1.2.8_2.13.0
 
    working_directory: ~/dynamo_f
    steps:
      - checkout
      - restore_cache:
          keys:
            - ivy
      - run:
          command: |
            sbt ";set Global / patchVersion := Some(\"$CIRCLE_BUILD_NUM\");++ 2.13.0;coverage;test;it:test;coverageAggregate;coveralls"
      - save_cache:
          key: ivy
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
      - persist_to_workspace:
          root: ~/dynamo_f
          paths:
            - ./*
  build_212:
    docker:
      - image: hseeberger/scala-sbt:8u212_1.2.8_2.12.8
    working_directory: ~/dynamo_f
    steps:
      - checkout
      - restore_cache:
          keys:
            - ivy
      - run:
          command: |
            sbt ";set Global / patchVersion := Some(\"$CIRCLE_BUILD_NUM\");++ 2.12.8;coverage;test;it:test;coverageAggregate;coveralls"
      - save_cache:
          key: ivy
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
      - persist_to_workspace:
          root: ~/dynamo_f
          paths:
            - ./core/target/scala-2.12/*
            - ./formats/target/scala-2.12/*
  release:
    docker:
      - image: hseeberger/scala-sbt:8u212_1.2.8_2.13.0
    working_directory: ~/dynamo_f
    steps:
      - attach_workspace:
          at: ~/dynamo_f
      - restore_cache:
          keys:
            - ivy
      - run:
          command: |
            sbt ";set Global / patchVersion := Some(\"$CIRCLE_BUILD_NUM\");+publish;writeVersion"
      - run: mkdir ~/.ssh && ssh-keyscan -H github.com >> ~/.ssh/known_hosts
      - run: git tag $(cat ./version.txt) && git push --tags
      - save_cache: 
          key: ivy
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_213:
          context: release
          filters:
            tags:
              ignore: /.*/
      # - build_212:
      #     context: release
      #     filters:
      #       tags:
      #         ignore: /.*/
      - release:
          context: release
          requires:
            - build_213
            # - build_212
          filters:
            branches:
               only:
                 - master
